<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" type= 'text/css' href='/rps.css'>
</head>
<body>
  <%= yield %>
  <script src='/rps.js'></script>
</body>
</html>