<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" type= 'text/css' href='/rps.css'>
</head>
<body>
  <%= yield %>
  <div id="nav" style="margin-top: 50px;">
    <a href="/signup">Need to sign up?</a>
    <form action="/logout" method="post" style="display:inline;">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  </div>
  <script src='/rps.js'></script>
</body>
</html>