<form action='/sessions' method='post'>
  Name: <input name="name"><br>
  Password: <input name="password" type="password"><br>
  <input type="submit">
</form>

<p>Sign Up Here!</p>
<a href='/signup'>Click Here!</a>