<div class="tournamentsPage">
  
  <h1>Tournaments</h1>
  
  <h4><a href='/'>Home</a></h4>
  <h4><a href='/tournaments/new'>New Tournament</a></h4>
  
  <% @tournaments.each do |tournament| %>
  <p>Tournament #<%= tournament.id %> was won by <%= (tournament.player).name %>. <a href='/tournaments/<%= tournament.id %>'>See Details!</a></p>
  <% end %>

</div>